@font-face {
  font-family: "Press Start 2P";
  src: url("./font/PressStart2P-Regular.ttf");
}
html {
  height: 100%;
}
body {
  font-family: "Press Start 2P";
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  text-align: center;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 1.5em 0;
  color: rgb(162, 0, 255);
  font-size: 1.5em;
}

li {
  font-size: 1em;
  margin-top: 0.5em;
  line-height: 1.25em;
}

ul {
  text-align: left;
  padding-left: 1em !important;
}

footer {
  font-size: 0.8em;
  padding: 0.5em 0;
}

/*  Extra Small screen  */
@media (max-width: 575px) {
  body {
    font-size: 11px !important;
  }
}
/*  Small screen  */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 13px !important;
  }
}
/*  Medium screen  */
@media (min-width: 768px) {
  body {
    font-size: 14px !important;
  }
}
/*  Large screen  */
@media (min-width: 992px) {
  body {
    font-size: 16px !important;
  }
}
/*  Extra large screen  */
@media (min-width: 1200px) {
  body {
    font-size: 18px !important;
  }
}
/*  Extra extra large screen  */
@media (min-width: 1400px) {
  body {
    font-size: 21px !important;
  }
}
